body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    color: white;
}


/*registro */

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-label{
    color: #FFFFFF;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.26);
}

.form-control {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.678);
    color: #ffffff;
    border-radius: 15px;
}

.form-control:focus {
    color: #ffffff94;
    background-color: transparent;
    border-color: white;
    box-shadow: none;
    border-radius: 15px;
}

.title {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-primary {
    background-color: #2e2ec7 !important;
    border: none !important;
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0e28d1 !important; 
    color: #FFFFFF !important;
}

.btn-secondary {
    background-color: #6c757d !important;
    border: none !important;
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268 !important;
    color: #FFFFFF !important; 
}


/* login */


.form-label-login, .form-control-login, .form-select-login, .form-check-label-login {
    color: rgb(255, 255, 255);
}

.form-control-login::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-control-login {
    background-color: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    font-size: 14px;
    height: 35px; 
    width: 100%; 
    border-radius: 15px;
}

.form-control-login:focus {
    color: #FFFFFF;
    background-color: transparent;
    border-color: white;
    box-shadow: none;
}

.title-login {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px solid rgb(5, 5, 5);
}

.btn-primary {
    background-color: #1919e4 !important;
    border: none !important;
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #485eec !important; 
    color: #FFFFFF !important;
}


